/*  Import */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Variables */
$font-baloo:"Baloo Thambi 2", cursive;
$font-raleway:"Raleway", cursive;
$font-poppins:"Poppins";
$color-primary: #15A3B8;
$color-second: gold;
$color-yellow: #FFD289;

/* global classes */

    .filter-2{
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
    
.producttitle{
    @media screen and (max-width: 540px){
        display: none;
    }
}
#btn2{
    border-radius: 50%;
}
.btn{
    background-color: #15A3B8;
    color: whitesmoke;
    &:hover{
    color: #15A3B8;
    background-color: whitesmoke;
    }
}
#nikeshoeslink{
width: 350PX;
height: 204PX;
margin-bottom: 22PX;
}
.grid{
    display: flex;
    flex-direction: column;
   @media screen and (max-width: 1000px){
    padding-left: 10%;
   }
   @media screen and (max-width: 765px){
    margin-left: 13%;
   }
   @media screen and (max-width: 540px){
    margin-left: 0%;
   }
}
.grid-item{
    padding: 10px;
    margin: 10px;
    @media screen and (min-width: 10px){
        width: 250px;
    }
  }
  button{
      background-color: #15A3B8;
    cursor: pointer;
    &:hover{
        opacity: 0.5;
    }
  }


.product{
    padding-bottom: 15px;
    border: 3px ridge #15A3B8;
    border-left: none;
    border-right: none;
    border-bottom: none;
    img{
        transition: transform 0.5s ease-in-out;
    }
    img:hover{
        transform: scale(1.1);
    }
}
#greypumapulllink{
    width: 76%;
    margin-top: 6%;
    margin-left: 1%;
}

.card {
    font-family: $font-poppins;
    .body{
        border: transparent;
    }
    .title{
        border: 2px solid black;
        border-left: none;
        border-RIGHT: none;
    }
}

#banner-area img{
   height: 80vh;
   width: 100%;
   border-top: 5px ridge $color-primary;
   border-bottom: 5px ridge $color-primary;
   @media screen and (max-width: 640px)  {
      height: 325px;
   }
 }
#btn1, #btn2{
display: inline-block;
}
button, button:focus{
    outline: none !important;
    box-shadow: none !important 
}
#short{
    margin-top: 19%;
    margin-bottom: 20%;
}
.fa-star, .fa-star-o, .fa-star-half-o{
    color: #15A3B8;

    &:hover{
        color: gold;
        cursor: pointer;
    }
}
.fa-shopping-cart{
    padding-left: 3%;
}
img{
    filter: drop-shadow(5px 5px 5px grey);
}
/*  typography classes */
.zeo{
    color: gold;
}
.font-baloo{
    font-family: $font-baloo;
}

.font-rale{
    font-family: $font-raleway;
}

.font-poppins{
    font-family: $font-poppins;
}

.font-size-12{
    font-size: 12px;
}

.font-size-14{
    font-size: 14px;
} 

.font-size-16{
    font-size: 16px;
} 

.font-size-20{
    font-size: 20px;
} 

/* Color Template */
.color-primary{
    color: $color-primary;
}
.color-primary-bg{
    background-color: $color-primary;
}
.color-second{
    color: $color-second;
}
.color-second-bg{
    background-color: $color-second;
}