@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$xs: 500px;
$small: 700px;
$medium: 1200px;
*,
html {
    // height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Jost";
    // font-size: 62.5%;
}
body {
    position: relative;
    z-index: -4;
    overflow-x: hidden;
}
/** Main Container**/
.main-container {
    width: 1110px;
    margin: auto;
    @media screen and (max-width: $medium) {
        width: 689px;
    }
    @media screen and (max-width: $small) {
        width: 100%;
    }
}
/** navbar **/
ul.nav-items.burger-active {
    padding: 0;
}
.nav {
    height: 200px;
    width: 1110px;
    margin: auto;
    transform: translateY(80px);
    @media screen and (max-width: $medium) {
        width: 689px;
        .nav-item:after {
            display: none;
        }
    }
    @media screen and (max-width: $small) {
        width: 100%;
        height: 95px;
        transform: translateY(40px);
    }
    &__brand {
        img {
            width: 200px;
            // @media screen and (max-width: 770px) {
            // }
        }
        @media screen and (max-width: 1200px) {
            margin-left: 2%;
        }
        // @media screen and (max-width: 700px) {
        // }
    }
    &__items {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        margin-top: -25px;
        .nav-items {
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            z-index: 10;
            position: absolute;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-left: -3%;
            top: 80px;
            right: 0;
            width: 100%;
            background: #333136;
            height: 0px;
            transition: 0.35s ease;
            @media screen and (max-width: 300px) {
                flex-direction: column;
            }
        }
    }
    &__item {
        margin-left: 3%;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            left: 0;
            background: #333136;
            transform: scale(0);
            transition: 0.25s ease;
        }
        a {
            text-decoration: none;
            color: #333136;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 2px;
        }
        &:hover::after {
            transform: scale(1);
        }
    }
}
.navbar {
    position: relative;
    height: 22%;
    @media screen and (max-width: $medium) {
        height: 10%;
    }
}
// Responsive menu
@media screen and (max-width: $medium) {
    .burger {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }
    .line1 {
        transform: rotate(0deg) translateY(0px);
        transition: 0.5s ease;
    }
    .line2 {
        transform: translateX(0px);
        transition: 0.5s ease;
    }
    .line3 {
        transform: rotate(0deg) translateY(0px);
        transition: 0.5s ease;
    }
    .line1effect {
        transform: rotate(35deg) translateY(10px);
    }
    .line3effect {
        transform: rotate(-35deg) translateY(-10px);
    }
    .line2effect {
        transform: translateX(30px);
        opacity: 0;
        transition: 0.5s ease;
    }
    .burger div {
        width: 24px;
        height: 3px;
        background-color: #333136;
        margin: 5px;
    }
    .nav {
        &__items {
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            z-index: 10;
            position: absolute;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-left: -3%;
            top: 80px;
            right: 0;
            width: 100%;
            background: #333136;
            height: 0px;
            transition: 0.35s ease;
            @media screen and (max-width: 300px) {
                flex-direction: column;
            }
        }
        &__item{
            margin: 0;
            display: none;
            &:nth-child(1) {
                width: 100px;
            }
        }
        &__link {
            color: white !important;
        }
    }
    .burger-active {
        height: 100px;
        @media screen and (max-width: 300px) {
            height: 78px;
        }
    }
}
/** Hero Home **/
.hero-home {
    display: flex;
    z-index: -1;
    position: relative;
    width: 1110px;
    height: 640px;
    margin: auto;
    background-color: #e6816b;
    border-radius: 15px;
    overflow: hidden;
    @media screen and (max-width: 1200px) {
        width: 689px;
        height: 843px;
        flex-direction: column;
    }
    @media screen and (max-width: 700px) {
        width: 100%;
        height: 843px;
    }
    &__text {
        color: white;
        z-index: 1;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media screen and (max-width: 1200px) {
            width: 100%;
            height: 50%;
            justify-content: center;
        }
        @media screen and (max-width: 700px) {
        }
    }
    &__wrap-text {
        height: 350px;
        width: 475px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1 {
            margin: 0;
            font-weight: 500;
            font-size: 44px;
            line-height: 50px;
            @media screen and (max-width: 1200px) {
                font-size: 45px;
                margin-top: 65px;
            }
            @media screen and (max-width: 500px) {
                font-size: 32px;
            }
            @media screen and (max-width: 330px) {
                font-size: 27px;
                margin: 40px 10px 0 10px;
            }
        }
        h3 {
            font-size: 16px;
            letter-spacing: 1px;
            font-weight: 400;
            margin-bottom: 30px;
            @media screen and (max-width: 1200px) {
                margin-top: 20px;
            }
            @media screen and (max-width: 500px) {
                font-size: 14px;
                margin: 0;
            }
        }
        @media screen and (max-width: 1200px) {
            height: 430px;
            align-items: center;
            width: 460px;
            text-align: center;
        }
        @media screen and (max-width: 700px) {
        }
        .main-button {
            width: 150px;
            height: 50px;
            cursor: pointer;
            border-radius: 8px;
            border: none;
            background-color: white;
            font-size: 15px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 1px;
            &:hover {
                color: white;
                background: #ffae9b;
            }
            @media screen and (max-width: 1200px) {
                padding: 15px;
            }
        }
    }
    &__image {
        &::before {
            position: relative;
            content: "";
            position: absolute;
            z-index: -1;
            width: 60%;
            height: 100%;
            margin-left: -7%;
            border-radius: 50%;
            background: linear-gradient(180deg, #d5725e 28.75%, rgba(213, 114, 94, 0) 100%);
        }
        @media screen and (max-width: 1200px) {
            display: flex;
            justify-content: center;
            &::before {
                right: -10%;
                top: 40%;
                width: 90%;
                height: 70%;
                @media screen and (max-width: 700px) {
                    width: 499px;
                    height: 60%;
                    right: 0;
                    top: 55%;
                }
                @media screen and (max-width: 500px) {
                    width: 100%;
                    height: 50%;
                    right: 0;
                    top: 55%;
                }
            }
            img {
                justify-self: center;
                align-self: center;
                @media screen and (max-width: 1200px) {
                    transform: translateY(-90px);
                }
                @media screen and (max-width: 700px) {
                    transform: translateY(-90px);
                    height: 80%;
                }
            }
        }
    }
}
/** Grid **/
.grid {
    display: grid;
    width: 1110px;
    height: 640px;
    margin: 150px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 22px;
    @media screen and (max-width: 1200px) {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        width: 689px;
        height: 649px;
        margin-top: 159px;
    }
    @media screen and (max-width: 700px) {
        width: 100%;
        height: 734px;
        margin: 150px auto 40px auto;
    }
    img {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 22px;
    }
    &__grid-1 {
        grid-row: 1 / 3;
    }
    &__text {
        color: white;
        h2 {
            margin: 0;
            font-weight: 500;
            font-size: 40px;
            @media screen and (max-width: 700px) {
                font-size: 32px;
            }
        }
    }
    &__bottom-text {
        display: flex;
        color: white;
        justify-content: center;
    }
}
.grid > div {
    display: flex;
    position: relative;
    @media screen and (max-width: 1200px) {
        height: 200px;
        object-fit: scale-down;
        grid-row: initial;
    }
    @media screen and (max-width: 700px) {
        height: 230px;
        width: 350px;
        justify-self: center;
        object-fit: scale-down;
        grid-row: initial;
    }
    @media screen and (max-width: 375px) {
        height: 230px;
        width: 100%;
        justify-self: center;
        object-fit: scale-down;
        grid-row: initial;
    }
    img {
        width: 100%;
    }
}
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 22px;
    transition: 0.5s ease;
    &:hover {
        background: rgba(255, 127, 80, 0.6);
    }
    @media screen and (max-width: 1200px) {
        h2 {
            margin: 0;
        }
        h4 {
            margin: 0;
        }
    }
    @media screen and (max-width: 700px) {
        h2 {
            font-size: 25px;
            margin: 0;
        }
        h4 {
            font-size: 11px;
            margin: 0;
        }
    }
}
/** Home Feature**/
.features {
    position: relative;
    display: flex;
    height: 412px;
    margin-bottom: 78px;
    @media screen and (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    @media screen and (max-width: 700px) {
        height: 1600px;
        justify-content: space-around;
    }
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 620px;
        bottom: -300px;
        z-index: -1;
        transform: rotate(180deg);
        background-image: url(images/bg-pattern-leaf.svg);
        background-size: contain;
        background-repeat: no-repeat;
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }
    &__home {
        display: flex;
        flex-direction: column;
        img {
            width: 60%;
            align-self: center;
        }
        @media screen and (max-width: 1200px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 280px;
            img {
                width: 40%;
                align-self: center;
            }
            .home-feature-img {
                margin-right: 40px;
            }
        }
        @media screen and (max-width: 700px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            img {
                width: 250px;
                align-self: center;
            }
        }
        &::after {
            content: "";
            position: absolute;
            width: 202px;
            height: 202px;
            opacity: 0.2;
            border-radius: 50%;
            left: 50%;
            top: 25%;
            z-index: -1;
            transform: translate(-50%, -50%);
            @media screen and (max-width: 1200px) {
                left: 15%;
                top: 50%;
            }
            @media screen and (max-width: 700px) {
                left: 50%;
                top: 40%;
            }
        }
        &:first-child {
            position: relative;
            &::after {
                background: linear-gradient(90deg, rgba(93, 2, 2, 0.497569) 0%, rgba(93, 2, 2, 0.0001) 100%);
            }
        }
        &:nth-child(2) {
            position: relative;
            &::after {
                content: "";
                background: linear-gradient(90deg, rgba(93, 2, 2, 0.497569) 0%, rgba(93, 2, 2, 0.0001) 100%);
            }
        }
        &:last-child {
            position: relative;
            &::after {
                content: "";
                background: linear-gradient(180deg, rgba(93, 2, 2, 0.497569) 0%, rgba(93, 2, 2, 0.0001) 100%);
            }
        }
    }
    &__home-img {
        height: 200px;
    }
    &__home-text {
        width: 90%;
        height: 300px;
        text-align: center;
        @media screen and (max-width: 1200px) {
            display: flex;
            flex-direction: column;
            width: 440px;
            margin: 0;
            text-align: left;
        }
        @media screen and (max-width: 700px) {
            width: 333px;
            text-align: center;
        }
        h3 {
            font-weight: 500;
            margin: 0;
            color: #333136;
            margin: 75px 0 15px 0;
            @media screen and (max-width: 1200px) {
                margin: 20px 0;
            }
            @media screen and (max-width: 700px) {
                margin-top: 40px;
            }
        }
        p {
            margin: 0;
            font-weight: 500;
            color: #444147;
            // @media screen and (max-width: 1200px) {
            // }
            // @media screen and (max-width: 700px) {
            // }
            @media screen and (max-width: 350px) {
                margin: 20px;
            }
        }
    }
}
/**  contact **/

.contact-bar {
    display: flex;
    overflow: hidden;
    width: 1110px;
    height: 300px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    border-radius: 15px;
    background-color: #e6816b;
    transform: translateY(70px);
    @media screen and (max-width: 1200px) {
        width: 689px;
        flex-direction: column;
        justify-content: center;
    }
    @media screen and (max-width: 700px) {
        height: 378px;
        width: 327px;
        margin: auto;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
    }
    @media screen and (max-width: 400px) {
        width: 100%;
    }
    &__text {
        color: white;
        width: 459px;
        height: 148px;
        @media screen and (max-width: 1200px) {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        @media screen and (max-width: 700px) {
            width: 200px;
            margin-top: 25px;
        }
        h2 {
            font-size: 40px;
            font-weight: 500;
            margin: 0;
            line-height: 45px;
        }
    }
    &__button {
        width: 150px;
        height: 50px;
        border-radius: 8px;
        cursor: pointer;
        border: none;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 1px;
        transform: translateX(-93px);
        &:hover {
            color: white;
            background: #ffae9b;
        }
        @media screen and (max-width: 1200px) {
            width: 150px;
            margin-top: 30px;
            transform: translateX(0px);
        }
        @media screen and (max-width: 700px) {
            width: 150px;
            margin-top: 115px;
        }
    }
}
.circle > div {
    width: 278px;
    height: 278px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: -1;
}
.circle {
    &__circle1 {
        left: 0;
        top: -50%;
    }
    &__circle2 {
        top: -50%;
        left: 25%;
    }
    &__circle3 {
        top: -42%;
        left: 50%;
        background: linear-gradient(0deg, rgba(93, 2, 2, 0.0001) 0%, rgba(93, 2, 2, 0.497569) 100%);
        transform: rotate(0deg);
        @media screen and (max-width: 1200px) {
            left: 30%;
        }
        @media screen and (max-width: 700px) {
            left: 50%;
        }
    }
    &__circle4 {
        top: -42%;
        left: 75%;
        background: linear-gradient(0deg, rgba(93, 2, 2, 0.0001) 5%, rgba(93, 2, 2, 0.497569) 100%);
        transform: rotate(0deg);
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }
    &__circle5 {
        left: -15%;
        top: -50%;
        background: linear-gradient(0deg, rgba(93, 2, 2, 0.0001) 35%, rgba(93, 2, 2, 0.497569) 100%);
        transform: rotate(20deg);
    }
    &__circle6 {
        top: 60%;
        left: -15%;
        background: linear-gradient(0deg, rgba(93, 2, 2, 0.0001) 30%, rgba(93, 2, 2, 0.497569) 100%);
        transform: rotate(150deg);
    }
    &__circle7 {
        top: 50%;
        left: 50%;
        background: linear-gradient(0deg, rgba(93, 2, 2, 0.0001) 5%, rgba(93, 2, 2, 0.497569) 100%);
        transform: rotate(180deg);
        @media screen and (max-width: 1200px) {
            left: 30%;
            top: 60%;
        }
        @media screen and (max-width: 700px) {
            top: 70%;
            left: -30%;
            transform: rotate(140deg);
        }
    }
    &__circle8 {
        top: 50%;
        left: 75%;
        background: linear-gradient(0deg, rgba(93, 2, 2, 0.0001) 5%, rgba(93, 2, 2, 0.497569) 100%);
        transform: rotate(180deg);
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }
}
/** Bottom Navbar **/
footer {
    width: 100%;
    height: 380px;
    background-color: #1d1c1e;
    z-index: -1;
    @media screen and (max-width: 1200px) {
    }
    @media screen and (max-width: 700px) {
        height: 700px;
    }
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding-top: 130px;
    margin: auto;
    width: 1110px;
    color: white;
    &::after {
        content: "";
        position: absolute;
        width: 1110px;
        height: 1.5px;
        background: #333234;
        bottom: 150px;
    }
    @media screen and (max-width: 1200px) {
        width: 689px;
        &::after {
            width: 690px;
        }
    }
    @media screen and (max-width: 700px) {
        height: 250px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &::after {
            display: none;
        }
    }
    &__brand img {
        height: 25px;
    }
    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 80px;
        @media screen and (max-width: 700px) {
            flex-direction: column;
        }
    }
    &__nav-items {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        padding: 0;
        @media screen and (max-width: 700px) {
            flex-direction: column;
            margin-top: 10px;
        }
    }
    &__nav-item {
        margin-left: 24%;
        position: relative;
        a {
            text-decoration: none;
            color: white;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 2px;
        }
        &:hover::after {
            transform: scale(1);
        }
        @media screen and (max-width: $small) {
            margin: 10px 0;
        }
    }
}
.footer-details {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    font-weight: 600;
    margin: auto;
    color: #8e8d8e;
    @media screen and (max-width: 1200px) {
        width: 689px;
    }
    @media screen and (max-width: 700px) {
        flex-direction: column;
        align-items: center;
        margin-top: 79px;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    &__location {
        width: 400px;
        @media screen and (max-width: 700px) {
            width: 200px;
        }
    }
    &__contact {
        width: 300px;
        @media screen and (max-width: 1200px) {
            width: 389px;
        }
        @media screen and (max-width: 700px) {
            width: 200px;
        }
    }
    &__location > p,
    &__contact > p {
        margin: 10px 0;
        @media screen and (max-width: 700px) {
            margin-top: 20px;
        }
    }
    &__social {
        width: 500px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 22px;
        @media screen and (max-width: 1200px) {
            width: 200px;
            margin-top: 40px;
        }
        @media screen and (max-width: 700px) {
            align-items: center;
            justify-content: center;
        }
    }
    &__logos {
        fill: #e7816b;
        width: 143px;
        margin-top: 60px;
        @media screen and (max-width: 1200px) {
        }
        @media screen and (max-width: 700px) {
            margin-top: 50px;
            align-items: center;
            justify-content: center;
        }
    }
}
